atlas-dialog {
  --atlas-dialog-inline-spacing: 2em;
  --atlas-dialog-subtext-margin-block-end: 0;
}

atlas-dialog[blade]::part(body) {
  margin-block-start: 0.5em;
}

atlas-application-frame::part(app-logo) {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #e8ff25;
  padding: 1em;
  display: flex;
  text-align: center;
  align-items: center;
  box-shadow: 2px 6px rgba(68, 68, 68, 0.2);
}

.atlas-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.atlas-form .colspan {
  grid-column: 1 / span 2;
}

atlas-input-chip-group {
  --chips-min-height: 0;
  --overall-margin-block-end: 0;
}

atlas-input-chip-group::part(chips-scroll-view) {
  padding-block: 0;
}

atlas-input-chip-group::part(chips-label) {
  padding: 1px;
}

atlas-input-text::part(label-wrapper) {
  position: relative;
  padding-inline-start: 0;
}

.atlas-form div {
  display: flex;
  gap: 0.5em;
}
.atlas-form atlas-dropdown {
  --default-width: 10em;
  --menu-margin-block-start: -0.6em;
  align-self: flex-end;
}

.atlas-form atlas-dropdown atlas-input-text {
  margin: 0;
}
.atlas-form atlas-dropdown atlas-input-text::part(helper-text) {
  display: none;
}

.atlas-form atlas-dropdown li {
  list-style: none;
}
