.atlas-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.atlas-form .colspan {
  grid-column: 1 / span 2;
}

atlas-input-chip-group {
  --chips-min-height: 0;
}

atlas-input-chip-group::part(chips-scroll-view) {
  padding-block: 0;
}

atlas-input-chip-group::part(chips-label) {
  padding: 1px;
}

atlas-input-text::part(label-wrapper) {
  position: relative;
  padding-inline-start: 0;
}
